$color_board_black: transparentize($color_1_dark, 0.3);
$color_board_white: transparentize($color_1_dark, 0.7);
$color_white: $color_1_white;
$color_black: $color_1_black;

$pieceWhiteFilling: $color_white;
$pieceWhiteStroke: $color_black;
$pieceBlackFilling: $color_black;
$pieceBlackStroke: $color_white;

#boardcontainer {

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .board {

        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }
}

.field {

    &[data-fieldcolor="white"] {
        background-color: $color_board_white;

        &[data-move] {
            background-color: lighten($color_board_black, 60%);
        }
    }

    &[data-fieldcolor="black"] {
        background-color: $color_board_black;
        &[data-move] {
            background-color: lighten($color_board_black, 10%);
        }
    }

    position: relative;
    border: none;
}

.piece {

    position: absolute;
    top: 0;
    left: 0;

    stroke-width: 1.5px;

    &.selectable {
        cursor: grab;
    }

    &[data-color="w"] {
        stroke: $pieceWhiteStroke;
        fill: $pieceWhiteFilling;
    }

    &[data-color="b"] {
        stroke: $pieceBlackStroke;
        fill: $pieceBlackFilling;
    }
}

.pieceDeclaration {
    display: none;
}

.promotionOverlay {

    position: absolute;
    display: none;
    height: 100%;
    width: 400%;
    background-color: $color_1_medium;
    top: 0;
    left: 0;
    z-index: 1;

    &.active {
        display: block;
    }

    table {
        width: 100%;
        height: 100%;

        td {
            position: relative;
        }
    }

    .piece {
        z-index: 2;
    }
}

#afterboard {
    margin-top: 2em;
    height: 1em;
}