$color_board_black: transparentize($color_1_dark, 0.3);
$color_board_white: transparentize($color_1_dark, 0.7);
$color_white_primary: $color_1_white;
$color_white_secondary: darken($color_white_primary, 20%);
$color_black_primary: $color_1_black;
$color_black_secondary: lighten($color_black_primary, 10%);

#boardcontainer {

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .board {

        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }
}

.field {

    &[data-fieldcolor="white"] {
        background-color: $color_board_white;

        &[data-move] {
            background-color: darken($color_board_white, 10%);
        }
    }

    &[data-fieldcolor="black"] {
        background-color: $color_board_black;
        &[data-move] {
            background-color: lighten($color_board_black, 10%);
        }
    }

    position: relative;
    border: none;
}

.pieceDeclaration {

    display: none;
}



.piece {

    &, .piece-inner {
        border-radius: 50%;
        border-style: solid;
        margin-left: auto;
        margin-right: auto;
    }

    &[data-color="w"] {
        background-color: $color_white_primary;
        border-color: $color_white_secondary;
    }

    &[data-color="b"] {
        background-color: $color_black_primary;
        border-color: $color_black_secondary;
    }

    &[data-piecetype="p"] {
        
        width: 75%;
        height: 75%;
        border-width: 0;
    }

    &[data-piecetype="k"] {
        
        width: 90%;
        height: 90%;
        border-width: thick;
    }
}

#afterboard {
    margin-top: 2em;
    height: 1em;
}