$color_1: #379683;
$color_2: rgb(207, 164, 8); //#f4976c;
$color_3: #86afa7;
$color_4: white;
$color_5: #263b41e3;

$color_1_black: #082f3a;
$color_1_dark: #173a44;
$color_1_medium: #376a79;
$color_1_light: #75a5b3;
$color_1_white: #c0dee7;

$color_text : $color_5;
$color_button: $color_1_medium;
$color_button_hover: $color_1_dark;
$color_link: #438fa7;
$color_link_hover: $color_1_dark;
$color_special: $color_2;
$color_special_hover: darken($color_2, 8%);
$color_background_light: transparentize($color_3, 0.8);
$color_background_dark: transparentize($color_3, 0.4);


$base_color: rgb(94, 176, 201);

$light_color_1: lighten($base_color, 10%);
$light_color_2: lighten($base_color, 13%);

$dark_color_1: darken($base_color, 20%);
$dark_color_2: darken($base_color, 40%);


$color_warning: rgb(185, 53, 0);

$light_color_warning_1: lighten($color_warning, 10%);
$light_color_warning_2: lighten($color_warning, 13%);

$dark_color_warning_1: darken($color_warning, 20%);
$dark_color_warning_2: darken($color_warning, 30%);


$color_affirmation: rgb(31, 100, 77);

$light_color_affirmation_1: lighten($color_affirmation, 10%);
$light_color_affirmation_2: lighten($color_affirmation, 13%);

$dark_color_affirmation_1: darken($color_affirmation, 20%);
$dark_color_affirmation_2: darken($color_affirmation, 30%);


$main_background_color_standard: $light_color_2;
$secondary_background_color_standard: $light_color_1;
$hover_background_color_standard: $base_color;
$main_border_color_standard: $dark_color_1;
$main_text_color_standard: $dark_color_2;

$main_background_color_warning: $light_color_warning_2;
$secondary_background_color_warning: $light_color_warning_1;
$hover_background_color_warning: $color_warning;
$main_border_color_warning: $dark_color_warning_1;
$main_text_color_warning: $dark_color_warning_2;

$main_background_color_affirmation: $light_color_affirmation_2;
$secondary_background_color_affirmation: $light_color_affirmation_1;
$hover_background_color_affirmation: $color_affirmation;
$main_border_color_affirmation: $dark_color_affirmation_1;
$main_text_color_affirmation: $dark_color_affirmation_2;

$colors: (
    standard: (
        background: (
            1: $main_background_color_standard,
            2: $secondary_background_color_standard,
            hover: $hover_background_color_standard
        ),
        border: (
            1: $main_border_color_standard
        ),
        text: (
            1: $main_text_color_standard
        )
    ),
    warning: (
        background: (
            1: $main_background_color_warning,
            2: $secondary_background_color_warning,
            hover: $hover_background_color_warning
        ),
        border: (
            1: $main_border_color_warning
        ),
        text: (
            1: $main_text_color_warning
        )
    ),
    affirmation: (
        background: (
            1: $main_background_color_affirmation,
            2: $secondary_background_color_affirmation,
            hover: $hover_background_color_affirmation
        ),
        border: (
            1: $main_border_color_affirmation
        ),
        text: (
            1: $main_text_color_affirmation
        )
    )
);

@function get_color($family, $scope, $grade) {
    $colormap: $colors;
    @if not map-has-key($colormap, $family) {
        $family: "standard";
    }
    @if not map-has-key(map-get($colormap, $family) , $scope) {
        $scope: "border";
    }
    @if not map-has-key(map-get(map-get($colormap, $family), $scope) , $grade) {
        $grade: 1;
    }
    @return map-get(map-get(map-get($colormap, $family), $scope), $grade);
}