$color_board: transparentize($color_1_dark, 0.2);
$color_entry: $color_1_light;
$color_empty: $color_1_light;
$color_player1: $color_1_white;
$color_player2: $color_1_black;

#boardcontainer {

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .board {

        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
    }
}

.field {

    &[data-type="regular"] {
        background-color: $color_board;
    }

    &[data-type="entry"] {
        background-color: $color_entry;

        .coin {
            display: none;
        }

        &:hover {
            
            &[data-move="1"] {
                .coin {
                    display: block;
                    background-color: $color_player1;
                }
            }

            &[data-move="2"] {
                .coin {
                    display: block;
                    background-color: $color_player2;
                }
            }
        }
    }
    position: relative;
    border: none;
}

.coin {

    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: {
        left: auto;
        right: auto;
    }

    &[data-player="0"] {
        background: $color_empty;
    }

    &[data-player="1"] {
        background: $color_player1;
    }

    &[data-player="2"] {
        background: $color_player2;
    }
}

#afterboard {
    margin-top: 2em;
    height: 1em;
}