.form_grid {

    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 0.5rem;
}

.form_element {

    .label_primary {
        display: block;
        font-weight: bold;
    }

    img {
        display: block;
        margin: {
            top: 0.1em;
            bottom: 0.1em;
        }
    }

    .warning {
        display: block;
        color: red;

        span {
            display: block;
        }
    }

    .subrow {
        display: block;
    }
}

input[type="number"] {
    
    max-width: 4em;
}

input, textarea {
    background-color: transparentize($color_4, 0.5);
    border-style: groove;
}

textarea {
    resize: none;

}

.align_container {
    width: max-content;
}

.align_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.form_contact {
    max-width: 25rem;

    input[type="text"]:not([name="captcha"]), textarea {
        width: 100%;
    }

    textarea {
        height: 8rem;
    }

    >* {
        margin-bottom: 0.5rem;
    }
}
