* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

html {
    font-family: "Open Sans", "Verdana", sans-serif;
    color: $color_text;
}

a {
    text-decoration: none;
    color: $color_link;
    
    &:hover {
        color: $color_link_hover;
    }
}

button, input[type="submit"] {
    
    display: inline-block;
    border-width: 3px;
    border-style: solid;
    border-color: $color_button;
    background-color: transparent;
    color: $color_button;
    font-size: large;
    padding: 0.2rem 0.8rem;

    &:hover {
        cursor: pointer;
        background-color: transparentize($color_4, 0.2);
        color: color_button_hover;
    }
}

.background_full {

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.layer {
    
    box-shadow: 0 0 4px 0 transparentize($color_5, 0.4), 0 0 8px 0 transparentize($color_5, 0.7), 0 0 16px 0 transparentize($color_5, 0.9);
    background-color: transparentize($color_4, 0.2);
    backdrop-filter: blur(5px);
    padding: 2vw;
}

.announcement {
    font-size: x-large;
    width: max-content;
    max-width: 100%;
    padding: 0.2rem 0.8rem;
    border-width: 0.2rem;
    border-style: solid;
    background-color: transparentize($color_4, 0.3);
    margin-top: 0.5rem;
    margin-bottom: 2rem;

    &.warning {
        border-color: $color_warning;
        color: $color_warning;
    }
    
    &.success {
        border-color: $color_affirmation;
        color: $color_affirmation;
    }
}

.face-thinking::after {
    content: ":/";
    animation: face-thinking infinite 1.5s;
    padding-left: 0.4rem;
}

@keyframes face-thinking {
  
    0% {
        content: ":/";
    }

    50% {
        content: ":\\";
    }
}