
  header {
    
    padding: {
      top: 0 !important;
      bottom: 0 !important;
    }

    .pad {
      height: 3rem;
    }
  
    .contentframe {
  
      position: sticky;
      top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
  
      .nav_main {

        flex-grow: 2;
  
        ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }
  
        > ul {

            display: grid;
            grid-template-columns: auto auto auto auto auto;
            justify-items: start;
            justify-content: start;
            grid-gap: 0.5rem;

            @media screen and (max-width: 500px) {
              grid-template-columns: 1fr 1fr;
              width: 100%;
            }
  
          > li {
  
            display: inline-block;
            position: relative;
  
            > .navbutton {

              display: inline-block;
              border-width: 3px;
              border-right-width: 0px;
              border-style: solid;
              border-color: transparent;
              border-bottom-color: $color_button;
              
              > span {
                color: $color_button;
              }

              &.home {
                border-right-width: 3px;
                border-bottom-color: $color_special;
                &:hover, &:focus {
                  border-color: $color_special;
                }
              }
              
              padding: 6px 10px;
              background-color: transparent;
              font-weight: bold;
              white-space: nowrap;
  
              &:hover, &:focus {
                cursor: pointer;
                border-color: $color_button;
                border-right-color: transparent;
                border-top-color: transparent;
                > span {
                  color: $color_button_hover;
                }
              }
            }
  
            > .dropdown_container {
  
              position: absolute;
              top: 100%;
              left: 0;
              background-color: transparentize($color_4, 0.2);
              backdrop-filter: blur(5px);
              z-index: 5;
              display: none;
              min-width: 100%;
              border-width: 3px;
              border-top-width: 0px;
              border-right-width: 0px;
              border-style: solid;
              border-color: transparent;
              border-left-color: $color_button;
              border-bottom-color: $color_button;
  
              > ul {

                display: flex;
                flex-direction: column;
  
                > li {
                  display: block;
  
                  > a {

                    color: $color_button;

                    white-space: nowrap;
                    display: block;
                    padding: 8px;
                    z-index: 6;
                  }
  
                  &:hover {
                    
                    a {
                      color: $color_button_hover;
                    }

                    .icon {
                      stroke: $color_button_hover;
                    }
                  }
                }
              }
            }
  
            &:hover {
  
              > .dropdown_container {
  
                  display: initial;
              }
            }
          }
        }
      }
    }

    .language_container {
      
      margin-left: auto;
      
      img {
        max-height: 2em;
      }
    }
  }