.maincol {

    width: 1200px;
    margin: {
        left: auto;
        right: auto;
    }

    position: relative;

    min-height: 100vh;

    display:flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    @media (max-width: 1500px) {
        width: 80%;
    }

    @media (max-width: 1000px) {
        width: 800px;
    }

    @media (max-width: 820px) {
        width: 100%
    }
}

header {

    position: sticky;
    top: -5rem;
    z-index: 4;

    margin-bottom: 1rem;
}

main {

    flex-grow: 2;
}

.cookienotice {
    
    position: sticky;
    bottom: 0;
    margin: {
        left: 5%;
        right: 5%;
    };
    padding: {
        left: 0.5em;
        right: 0.5em;
        top: 2em;
        bottom: 2em;
    }
    border: 0.1em solid gray;
    border-bottom: none;
    background-color: transparentize($color_4, 0.1);
}