.sheetmusiccontainer {
    max-width: 100%;
    overflow-x: auto;
}

.sheetmusictable {

    max-width: 100%;
    overflow-x: auto;
    
    &, tr, td, th {
        border: none;
        border-collapse: collapse;
    }

    th {
        text-align: left;
    }

    td {
        border-top: 1px solid gray;
    }

    th, td {
        &:not(:last-child) {
            padding-right: 1em;
        }
    }

    @media (max-width: 1000px) {
        [data-column="epoch"], [data-column="duration"], [data-column="difficulty"] {
            display: none;
        }
    }
}
