{% set language = _('_lang') %}
{% set subdomain = 'en' if language == 'en' else None %}

{% if not site %}
    {% if g['site'] %}
        {% set site = g['site'] %}
    {% else %}
        {% set site = 'home' %}
    {% endif %}
{% endif %}

<!DOCTYPE html>
<html lang="{{language}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% if js %}
        {% for script in js %}
            <script src="{{ url_for('static', filename='js/' + script) }}"></script>
        {% endfor %}
    {% endif %}
    {% if css %}
        {% for sheet in css %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + sheet) }}">
        {% endfor %}
    {% endif %}
    {% if title %}
        <title>Johannes Künel - {{title}}</title>
    {% else %}
        <title>Johannes Künel</title>
    {% endif %}
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logos/favicon.ico') }}">
</head>
<body>
    
    <div class="background_full" style="background-image: url({{url_for('static', filename='img/background-guitar-1.jpg')}}); background-size: cover; background-position: center"></div>
    
    {% block body %}{% endblock %}

</body>
</html>