{% extends 'regular.jinja' %}

{% set css = ['checkers.css'] %}

{% block main %}

    <h2>{{_('Dame')}}</h2>

    {% if language == 'de' %}

        <h3>Spielregeln</h3>
        <p>
            Dieses Spiel kann in einigen verschiedenen Varianten gespielt werden. Die wichtigsten davon können Sie hier vor Spielstart wählen. Die Spielregeln und einige Varianten finden Sie <a href="https://de.wikipedia.org/wiki/Dame">hier</a>.
        </p>

        <h3>Bedienung</h3>
        <p>
            Um einen Stein zu bewegen, klicken Sie auf ihn und anschließend auf das Zielfeld. Bei Zügen, die sich aus mehreren Schritten zusammensetzen, wählen Sie als Zielfeld direkt das Ende des letzten Schritts.
        </p>
        <p>
            Der Fortschritt Ihres Spiels wird gespeichert, sodass Sie mit der URL, zu der Sie zum Spielstart weitergeleitet werden, jederzeit zum Spiel zurückkehren können.
        </p>

        <h3>Ihr Gegner</h3>
        <p>
            Wenn Sie gegen den Computer spielen, wird dessen Stärke hauptsächlich von der Bedenkzeit bestimmt, die Sie ihm geben. Sie können diese vor Spielbeginn zwischen 3 und 20 Sekunden wählen.
        </p>
        <p>
            Der Computer merkt sich Züge, die er berechnet, für zukünftige Partien, wodurch er lernt und in immer mehr Situationen schnelle Antworten parat haben wird.
        </p>
    
    {% else %}

        <h3>Rules</h3>
        <p>
            This game can be played in some different rule sets. Therefore, you can do some adjustments before starting a game here. The rules for the most important variants are described <a href="https://en.wikipedia.org/wiki/Draughts">here</a>.
        </p>
        <h3>Handling</h3>
        <p>
            You can move a piece by clicking it and then clicking the field it should go to. In case of moves that consist of multiple steps, click on the destination of the last one of them.
        </p>
        <p>
            Your game will be stored and identified by the URL. So after starting a game, you can always come back to it by going to the URL you got redirected to on game start.
        </p>
        <h3>The AI opponent</h3>
        <p>
            When playing against the computer, its strength is determined mainly by the time you allow it to think. You can set this to a value between 3 and 20 seconds when starting a game.
        </p>
        <p>
            After calculating a move, the computer will remember it for future games, so by time it will have fast responses in more situations.
        </p>
    
    {% endif %}

    {% if not has_started %}

        <h2>{{_('Ein neues Spiel starten')}}</h2>

        <div class="startgame startcheckers">
            <form method="POST" action="">

                {{ form.hidden_tag() }}

                <div class="form_grid">

                    <div class="form_element">
                        <span class="label_primary">{{ form.game_mode.label() }}</span>
                        {% for subfield in form.game_mode %}
                            <div class="subrow">{{ subfield }} {{ subfield.label }}</div>
                        {% endfor %}
                        <span class="warning">
                            {% if form.game_mode.errors %}
                                {% for error in form.game_mode.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{ form.seconds_per_move.label() }}</span>
                        {{ form.seconds_per_move(min=3, max=20) }}
                        <span class="warning">
                            {% if form.seconds_per_move.errors %}
                                {% for error in form.seconds_per_move.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{ form.size.label() }}</span>
                        {{ form.size(min=1, max=15) }}
                        <span class="warning">
                            {% if form.size.errors %}
                                {% for error in form.size.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{_('Varianten')}}</span>
                        <div class="align_container">
                            <div class="subrow">{{ form.force_capture() }} {{ form.force_capture.label() }}</div>
                            <span class="warning">
                                {% if form.force_capture.errors %}
                                    {% for error in form.force_capture.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="subrow">{{ form.flying_queen() }} {{ form.flying_queen.label() }}</div>
                            <span class="warning">
                                {% if form.flying_queen.errors %}
                                    {% for error in form.flying_queen.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    {{ form.captcha_id() }}

                    <div class="form_element">
                        <span class="label_primary">{{ form.captcha.label() }}</span>
                        {{ form.captcha() }}
                        <img src="{{ url_for('static', filename=img_captcha)}}">
                        <span class="warning">
                            {% if form.captcha.errors %}
                                {% for error in form.captcha.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>

                {{ form.submit() }}

            </form>
        </div>
        <script>
            let hasStarted = false;
        </script>
    {% else %}
        <script>
            let hasStarted = true;
        </script>
    {% endif %}

    {% if language == 'de' %}

        <script>
            let texts = {
                resultWin: "Glückwunsch, sie haben gewonnen :))",
                resultLoose: "Diesmal hat leider der Computer gewonnen :(",
                resultPlayer1: "Spieler 1 hat gewonnen!",
                resultPlayer2: "Spieler 2 hat gewonnen!",
                resultTie: "Das Spiel ist endet unentschieden!",
                turnHuman: "Sie sind am Zug :)",
                turnComputer: "Der Computer überlegt",
                turnPlayer1: "Spieler 1 ist am Zug",
                turnPlayer2: "Spieler 2 ist am Zug"
            }
        </script>

    {% else %}

        <script>
            let texts = {
                resultWin: "Congratulations, you won :))",
                resultLoose: "Oh no, Computer won :(",
                resultPlayer1: "Player 1 won!",
                resultPlayer2: "Player 2 won!",
                resultTie: "The game ended in a tie!",
                turnHuman: "It's your turn :)",
                turnComputer: "Computer is thinking",
                turnPlayer1: "It's player 1's turn",
                turnPlayer2: "It's player 2's turn"
            }
        </script>
    
    {% endif %}

    <div class="pieceDeclaration">

        <div class="piece" data-piecetype="p">
        </div>

        <div class="piece" data-piecetype="k">
        </div>

    </div>

    <div id="boardcontainer"></div>
    <div id="afterboard"></div>
    
{% endblock %}