{% extends 'regular.jinja' %}

{% set css = ['chess.css'] %}

{% block main %}

    <h2>{{_('Schach')}}</h2>

    {% if language == 'de' %}

        <h3>Spielregeln</h3>
        <p>
            Da Schach ein komplexes und weit verbreitetes Spiel ist, verweise ich für die Regeln auf <a href="https://de.wikipedia.org/wiki/Schach">Wikipedia</a>.
        </p>

        <h3>Bedienung</h3>
        <p>
            Um eine Figur zu bewegen, klicken Sie auf ihn und anschließend auf das Zielfeld. Für eine Rochade bewegen Sie den König, der Turm zieht automatisch nach. Für die Umwandlung von Bauern wird eine Schaltfläche angezeigt, auf der Sie die gewünschte Figur auswählen können.
        </p>
        <p>
            Der Fortschritt Ihres Spiels wird gespeichert, sodass Sie mit der URL, zu der Sie zum Spielstart weitergeleitet werden, jederzeit zum Spiel zurückkehren können.
        </p>

        <h3>Ihr Gegner</h3>
        <p>
            Wenn Sie gegen den Computer spielen, wird dessen Stärke hauptsächlich von der Bedenkzeit bestimmt, die Sie ihm geben. Sie können diese vor Spielbeginn zwischen 3 und 20 Sekunden wählen.
        </p>
        <p>
            Der Computer merkt sich Züge, die er berechnet, für zukünftige Partien, wodurch er lernt und in immer mehr Situationen schnelle Antworten parat haben wird.
        </p>

        <h3>Bekannte Probleme</h3>
        <ul>
            <li>Das Remis durch dreifache Stellungswiederholung wird nicht erkannt.</li>
            <li>Der Computer-Gegner verwendet gelernte Züge aus der Datenbank ohne weitere Prüfung, wodurch er in Schleifen landen kann, die erst durch Remis durch die 50-Züge Regel enden.</li>
        </ul>
    
    {% else %}

        <h3>Rules</h3>
        <p>
            Since Chess is such a complex and famous game, I recommend looking for the rules e.g. <a href="https://en.wikipedia.org/wiki/Chess">here</a>
        </p>
        <h3>Handling</h3>
        <p>
            You can move a piece by clicking it and then clicking the field it should go to. For castling, move the king. For pawn promotions, you can pick a piece from a panel that will show up when applicable.
        </p>
        <p>
            Your game will be stored and identified by the URL. So after starting a game, you can always come back to it by going to the URL you got redirected to on game start.
        </p>
        <h3>The AI opponent</h3>
        <p>
            When playing against the computer, its strength is determined mainly by the time you allow it to think. You can set this to a value between 3 and 20 seconds when starting a game.
        </p>
        <p>
            After calculating a move, the computer will remember it for future games, so by time it will have fast responses in more situations.
        </p>

        <h3>Known issues</h3>
        <ul>
            <li>Draw by threefold repetition of a position is not detected</li>
            <li>When the AI opponent finds moves in its database of learned moves, it chooses it naively, sometimes missing easy winning moves or getting into loops, eventually drawing by 50-moves rule.</li>
        </ul>
    
    {% endif %}

    {% if not has_started %}
        
        <h2>{{_('Ein neues Spiel starten')}}</h2>

        <div class="startgame chess">
            <form method="POST" action="">

                {{ form.hidden_tag() }}

                <div class="form_grid">

                    <div class="form_element">
                        <span class="label_primary">{{ form.game_mode.label() }}</span>
                        {% for subfield in form.game_mode %}
                            <div class="subrow">{{ subfield }} {{ subfield.label }}</div>
                        {% endfor %}
                        <span class="warning">
                            {% if form.game_mode.errors %}
                                {% for error in form.game_mode.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{ form.seconds_per_move.label() }}</span>
                        {{ form.seconds_per_move(min=3, max=20) }}
                        <span class="warning">
                            {% if form.seconds_per_move.errors %}
                                {% for error in form.seconds_per_move.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    {{ form.captcha_id() }}

                    <div class="form_element">
                        <span class="label_primary">{{ form.captcha.label() }}</span>
                        {{ form.captcha() }}
                        <img src="{{ url_for('static', filename=img_captcha)}}">
                        <span class="warning">
                            {% if form.captcha.errors %}
                                {% for error in form.captcha.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>

                {{ form.submit() }}

            </form>
        </div>
        <script>
            let hasStarted = false;
        </script>
    {% else %}
        <script>
            let hasStarted = true;
        </script>
    {% endif %}

    {% if language == 'de' %}

        <script>
            let texts = {
                resultWin: "Glückwunsch, sie haben gewonnen :))",
                resultLoose: "Diesmal hat leider der Computer gewonnen :(",
                resultPlayer1: "Spieler 1 hat gewonnen!",
                resultPlayer2: "Spieler 2 hat gewonnen!",
                resultTie: "Das Spiel ist endet unentschieden!",
                turnHuman: "Sie sind am Zug :)",
                turnComputer: "Der Computer überlegt",
                turnPlayer1: "Spieler 1 ist am Zug",
                turnPlayer2: "Spieler 2 ist am Zug"
            }
        </script>

    {% else %}

        <script>
            let texts = {
                resultWin: "Congratulations, you won :))",
                resultLoose: "Oh no, Computer won :(",
                resultPlayer1: "Player 1 won!",
                resultPlayer2: "Player 2 won!",
                resultTie: "The game ended in a tie!",
                turnHuman: "It's your turn :)",
                turnComputer: "Computer is thinking",
                turnPlayer1: "It's player 1's turn",
                turnPlayer2: "It's player 2's turn"
            }
        </script>
    
    {% endif %}

    <div class="pieceDeclaration">
        
        <svg data-piecetype="k" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path d="M 18,56
                Q 19,48 8,36
                A 10,15 0 0,1 22,26
                A 15,15 0 0,1 30,20
                L 30,16
                L 26,16
                L 26,12
                L 30,12
                L 30,8
                L 34,8
                L 34,12
                L 38,12
                L 38,16
                L 34,16
                L 34,20
                A 15,15 0 0,1 42,26
                A 10,15 0 0,1 56,36
                Q 45,48 46,56
                A 30,30 0 0,1 18,56
                Z"
                />
        </svg>
        
        <svg data-piecetype="q" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path d="M 18,56
                Q 24,46 10,24
                Q 14,28 18,18
                Q 25,22 32,14
                Q 39,22 46,18
                Q 50,28 54,24
                Q 40,46 46,56
                A 30,30 0 0,1 18,56
                Z"
                />
        </svg>
        
        <svg data-piecetype="b" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path
                d="M 14,56
                Q 34,38 18,20
                Q 27,18 32,8
                Q 37,18 46,20
                Q 30,38 50,56
                Z"
                />
        </svg>
        
        <svg data-piecetype="n" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path
                d="M 18,56
                A 30,30 0 0,0 32,30
                Q 30,38 14,42
                A 15,15 0 0,1 8,30
                A 40,40 0 0,0 24,12
                Q 60,0 56,56
                Z"
                />
        </svg>
        
        <svg data-piecetype="r" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path
                d="M 10,56
                L 10,50
                L 14,50
                L 16,48
                L 16,26
                L 10,20
                L 10,10
                L 17,10
                L 17,15
                L 26,15
                L 26,10
                L 38,10
                L 38,15
                L 47,15
                L 47,10
                L 54,10
                L 54,20
                L 48,26
                L 48,48
                L 50,50
                L 54,50
                L 54,56
                Z"
                />
        </svg>
        
        <svg data-piecetype="p" xmlns="http://www.w3.org/2000/svg" version="1.1" class="piece" viewBox="0 0 64 64" width="100%"
        height="100%">
            <path
                d="M 16,56
                A 20,22 0 0,1 24,36
                A 15,12 0 0,1 26,22
                A 7,6 0 1,1 38,22
                A 15,12 0 0,1 40,36
                A 20,22 0 0,1 48,56
                Z"
                />
        </svg>

    </div>

    <div id="boardcontainer"></div>
    <div id="afterboard"></div>
    
{% endblock %}