{% extends 'regular.jinja' %}

{% set css = ['connectfour.css'] %}

{% block main %}



    <h2>{{_('4 gewinnt')}}</h2>

    {% if language == 'de' %}

        <h3>Spielregeln</h3>
        <p>
            Zwei Spieler werfen abwechselnd je einen ihrer Steine in das aufrecht stehende Spielbrett. Gewinner ist der Spieler, der zuerst eine horizontale, vertikale oder diagonale Reihe von vier Steinen erreicht. Siehe auch <a href="https://de.wikipedia.org/wiki/Vier_gewinnt">hier</a>.
        </p>

        <h3>Bedienung</h3>
        <p>
            Um einen Stein einzuwerfen, klicken Sie in der gewünschten Spalte auf das Einwurffeld (über dem Spielbrett).
        </p>
        <p>
            Der Fortschritt Ihres Spiels wird gespeichert, sodass Sie mit der URL, zu der Sie zum Spielstart weitergeleitet werden, jederzeit zum Spiel zurückkehren können.
        </p>

        <h3>Ihr Gegner</h3>
        <p>
            Wenn Sie gegen den Computer spielen, wird dessen Stärke hauptsächlich von der Bedenkzeit bestimmt, die Sie ihm geben. Sie können diese vor Spielbeginn zwischen 3 und 20 Sekunden wählen.
        </p>
        <p>
            Der Computer merkt sich Züge, die er berechnet, für zukünftige Partien, wodurch er lernt und in immer mehr Situationen schnelle Antworten parat haben wird.
        </p>
    
    {% else %}

        <h3>Rules</h3>
        <p>
            Two players take turns in droping coins into the board which is standing upright The goal is to be the first player to reach a row of four coins horizontally, vertically or diagonally. See <a href="https://en.wikipedia.org/wiki/Draughts">this</a>.
        </p>
        <h3>Handling</h3>
        <p>
            To drop a piece, click the entry field (on top of the board) in the according column.
        </p>
        <p>
            Your game will be stored and identified by the URL. So after starting a game, you can always come back to it by going to the URL you got redirected to on game start.
        </p>
        <h3>The AI opponent</h3>
        <p>
            When playing against the computer, its strength is determined mainly by the time you allow it to think. You can set this to a value between 3 and 20 seconds when starting a game.
        </p>
        <p>
            After calculating a move, the computer will remember it for future games, so by time it will have fast responses in more situations.
        </p>
    
    {% endif %}

    {% if not has_started %}
        
        <h2>{{_('Ein neues Spiel starten')}}</h2>

        <div class="startgame startconnectfour">
            <form method="POST" action="">

                {{ form.hidden_tag() }}

                <div class="form_grid">

                    <div class="form_element">
                        <span class="label_primary">{{ form.game_mode.label() }}</span>
                        {% for subfield in form.game_mode %}
                            <div class="subrow">{{ subfield }} {{ subfield.label }}</div>
                        {% endfor %}
                        <span class="warning">
                            {% if form.game_mode.errors %}
                                {% for error in form.game_mode.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{ form.seconds_per_move.label() }}</span>
                        {{ form.seconds_per_move(min=3, max=20) }}
                        <span class="warning">
                            {% if form.seconds_per_move.errors %}
                                {% for error in form.seconds_per_move.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form_element">
                        <span class="label_primary">{{_('Spielfeldgröße')}}</span>
                        <div class="align_container">
                            <div class="align_row">{{ form.cols.label() }} {{ form.cols(min=2, max=15) }}</div>
                            <span class="warning">
                                {% if form.cols.errors %}
                                    {% for error in form.cols.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </span>
                            <div class="align_row">{{ form.rows.label() }} {{ form.rows(min=2, max=15) }}</div>
                            <span class="warning">
                                {% if form.rows.errors %}
                                    {% for error in form.rows.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    {{ form.captcha_id() }}

                    <div class="form_element">
                        <span class="label_primary">{{ form.captcha.label() }}</span>
                        {{ form.captcha() }}
                        <img src="{{ url_for('static', filename=img_captcha)}}">
                        <span class="warning">
                            {% if form.captcha.errors %}
                                {% for error in form.captcha.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </span>
                    </div>
                </div>

                {{ form.submit() }}

            </form>
        </div>
        <script>
            let hasStarted = false;
            let gameData = {
                gameMode: 3,
                secondsPerMove: 1,
                cols: 8,
                rows: 6,
                fields: null,
                turn: 1
            };
        </script>
    {% else %}
        <script>
            let hasStarted = true;
            let gameData = {
                gameMode: {{ game_data["game_mode"] }},
                secondsPerMove: {{ game_data["seconds_per_move"] }},
                cols: {{ game_data["cols"] }},
                rows: {{ game_data["rows"] }},
                fields: {{ game_data["fields"] if game_data["fields"] else "null" }},
                turn: {{ game_data["turn"] }}
            };
        </script>
    {% endif %}

    {% if language == 'de' %}

        <script>
            let texts = {
                resultWin: "Glückwunsch, sie haben gewonnen :))",
                resultLoose: "Diesmal hat leider der Computer gewonnen :(",
                resultPlayer1: "Spieler 1 hat gewonnen!",
                resultPlayer2: "Spieler 2 hat gewonnen!",
                resultTie: "Das Spiel ist endet unentschieden!",
                turnHuman: "Sie sind am Zug :)",
                turnComputer: "Der Computer überlegt",
                turnPlayer1: "Spieler 1 ist am Zug",
                turnPlayer2: "Spieler 2 ist am Zug"
            }
        </script>

    {% else %}

        <script>
            let texts = {
                resultWin: "Congratulations, you won :))",
                resultLoose: "Oh no, Computer won :(",
                resultPlayer1: "Player 1 won!",
                resultPlayer2: "Player 2 won!",
                resultTie: "The game ended in a tie!",
                turnHuman: "It's your turn :)",
                turnComputer: "Computer is thinking",
                turnPlayer1: "It's player 1's turn",
                turnPlayer2: "It's player 2's turn"
            }
        </script>
    
    {% endif %}

    <div id="boardcontainer"></div>
    <div id="afterboard"></div>
    
{% endblock %}