{% extends 'regular.jinja' %}

{% block main %}

    {% if success == True %}
        <div class="announcement success">
            {% if language == 'de' %}
                Ihre Nachricht wurde erfolgreich gesendet.
            {% else %}
                Your message has been sent successfully.
            {% endif %}
        </div>
    {% elif success == False %}
        <div class="announcement warning">
            {% if language == 'de' %}
                Es gab ein Problem beim Senden Ihrer Nachricht. Der Admin wird sich darum kümmern.
            {% else %}
                A problem occurred while trying to send your message. The admin will work on it.
            {% endif %}
        </div>
    {% endif %}

    {% if form %}

        <form method="POST" action="">
            <div class="form_contact">

                {{ form.hidden_tag() }}

                <div class="form_element">
                    <span class="label_primary">{{ form.from_email.label() }}</span>
                    {{ form.from_email() }}
                    <span class="warning">
                        {% if form.from_email.errors %}
                            {% for error in form.from_email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                <div class="form_element">
                    <span class="label_primary">{{ form.from_name.label() }}</span>
                    {{ form.from_name() }}
                    <span class="warning">
                        {% if form.from_name.errors %}
                            {% for error in form.from_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                <div class="form_element">
                    <span class="label_primary">{{ form.message.label() }}</span>
                    {{ form.message() }}
                    <span class="warning">
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                {{ form.captcha_id() }}

                <div class="form_element">
                    <span class="label_primary">{{ form.captcha.label() }}</span>
                    {{ form.captcha() }}
                    <img src="{{ url_for('static', filename=img_captcha)}}">
                    <span class="warning">
                        {% if form.captcha.errors %}
                            {% for error in form.captcha.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                <div class="form_element">
                    <div class="subrow">{{ form.agree_tos() }} {{ form.agree_tos.label() }}</div>
                    <span class="warning">
                        {% if form.agree_tos.errors %}
                            {% for error in form.agree_tos.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>

                {{ form.submit() }}

            </div>
            
        </form>

    {% endif %}
    
{% endblock %}