{% extends 'regular.jinja' %}

{% block main %}

    {% if id_sent %}
        <form method="POST" action="">

            {{ form.hidden_tag() }}

            <div class="form_grid">

                {{ form.captcha_id() }}

                <div class="form_element">
                    <span class="label_primary">{{ form.captcha.label() }}</span>
                    {{ form.captcha() }}
                    <img src="{{ url_for('static', filename=img_captcha)}}">
                    <span class="warning">
                        {% if form.captcha.errors %}
                            {% for error in form.captcha.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </span>
                </div>
            </div>

            {{ form.submit() }}

        </form>
    {% else %}
        Fehler: Keine Download-ID gesendet.
    {% endif %}
{% endblock %}