{% extends 'regular.jinja' %}

{% block main %}

    {% if language == 'de' %}

        <h1>Schön, dass Sie hier sind</h1>
        <p>Wenn Sie meine Homepage bereits vorher besucht haben, fällt Ihnen nun sicher auf: Alles sieht anders aus!</p>
        <p>Zehn Jahre lang war diese Seite voll und ganz der Musik gewidmet. Vor einiger Zeit habe ich allerdings neue Wege eingeschlagen, nur noch sehr vereinzelt Auftritte und keine Schüler mehr angenommen.</p>
        <p>Nun habe ich also endlich begonnen, dies auch in dieser Website umzusetzen. Dabei will ich versuchen, beliebte Inhalte der alten Website (z.B. die Gitarrennoten) zu erhalten und mit meinen aktuellen Arbeiten zu kombinieren. In der aktuellen Umstellungsphase führt das zu teilweise nicht perfekt ausgearbeiteten Inhalten, aber es geht voran.</p>

    {% else %}

        <h1>Nice to meet you!</h1>
        <p>If you have visited this site before, you'll surely notice: Something's different!</p>
        <p>For ten years, this site was all about music. However, some time ago, I took another path, performing only on very special events and giving no more music lessons.</p>
        <p>Now I finally started manifesting these changes in this website. I'm aiming to keep popular contents of the old website (e.g. sheet music) while mainly presenting my current work. In the current transition phase, this leads to some contents not being fully elaborated, but it's coming.</p>

    {% endif %}

{% endblock %}