{% extends 'regular.jinja' %}

{% block main %}

    {% if language == 'de' %}

        <p>
            In der aktuellen Umbauphase dient diese Seite lediglich als Platzhalter, um die Struktur der alten Website beizubehalten und auf die Unterseite
            <a href="{{url_for('sheetmusic', sd=subdomain)}}">Noten</a>
            zugreifen zu können.
        </p>
    
    {% else %}

        <p>
            In the current transition phase, this page exists solely for keeping the old site's structure and providing access to
            <a href="{{url_for('sheetmusic', sd=subdomain)}}">Sheet Music</a>.
        </p>
    
    {% endif %}

{% endblock %}