{% extends 'regular.jinja' %}

{% block main %}

    {% if language == 'de' %}

        <p>
            Hier möchte ich einige meiner Spielereien vorstellen. Aktuell sind das im Wesentlichen einige Spiele, in denen Sie gegen meine Algorithmen antreten können:
        </p>
    
    {% else %}

        <p>
            Here I'd like to showcase a random selection of my ventures. Currently that's mostly some games in which you can challenge my algorithms:
        </p>
    
    {% endif %}

    <ul>
        <li>
            <a href="{{url_for('connectfour', sd=subdomain)}}">{{_('4 gewinnt')}}</a>
        </li>
        <li>
            <a href="{{url_for('checkers', sd=subdomain)}}">{{_('Dame')}}</a>
        </li>
        <li>
            <a href="{{url_for('chess', sd=subdomain)}}">{{_('Schach')}}</a>
        </li>
    </ul>

    {% if language == 'de' %}

        Langfistig möchte ich auch diese Website als Projekt vorstellen und zusammen mit allen anderen Projekten open source zur Verfügung stellen.
    
    {% else %}

        I'm planning to present this website itself as a project in the future and make it open source, together with all the other featured projects.
    
    {% endif %}

{% endblock %}