{% extends 'boilerplate.jinja' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/regular.css') }}">
{% endblock %}

{% block body %}

    <div class="maincol">

        <header class="layer">

            <div class="pad"></div>

            <div class="contentframe">

                <nav class="nav_main">

                    <ul>
                        <li>
                            <a href="{{url_for('home', sd=subdomain)}}" class="navbutton">
                                <span class="label">{{_('Home')}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{url_for('music', sd=subdomain)}}" class="navbutton">
                                <span class="label">{{_('Musik')}}</span>
                            </a>
                            <div class="dropdown_container">
                                <ul>
                                    <li>
                                        <a href="{{url_for('sheetmusic', sd=subdomain)}}">{{_('Noten')}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="{{url_for('projects', sd=subdomain)}}" class="navbutton">
                                <span class="label">{{_('Projekte')}}</span>
                            </a>
                            <div class="dropdown_container">
                                <ul>
                                    <li>
                                        <a href="{{url_for('connectfour', sd=subdomain)}}">{{_('4 gewinnt')}}</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('checkers', sd=subdomain)}}">{{_('Dame')}}</a>
                                    </li>
                                    <li>
                                        <a href="{{url_for('chess', sd=subdomain)}}">{{_('Schach')}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="{{url_for('contact', sd=subdomain)}}" class="navbutton">
                                <span class="label">{{_('Kontakt')}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="language_container">
                    <a href="{{url_for(site, sd=(None if subdomain == 'en' else 'en'))}}"><img src="{{url_for('static', filename='img/' + _('flag_uk.png'))}}"></a>
                </div>
            </div>

            <div class="pad"></div>

        </header>

        <main class="layer">
            {% block main %}{% endblock %}
        </main>

        <footer class="layer">
            <div class="contentframe">
                <a href="{{url_for('sitenotice', sd=subdomain)}}">{{_('Impressum')}}</a>
                <a href="{{url_for('privacy', sd=subdomain)}}">{{_('Datenschutzerklärung')}}</a>
            </div>
        </footer>

        {% if not request.cookies.get('cookieconsent') %}

            <div class='cookienotice'>
                <p>

                {% if language == 'de' %}

                    Mit der Nutzung der Seite erklären Sie sich mit der Verwendung von technisch notwendigen Cookies (keine Werbung, Tracking etc.) einverstanden. Weitere Infos in der <a href="{{url_for('privacy', sd=subdomain)}}">{{_('Datenschutzerklärung')}}</a>.
                
                {% else %}

                    This website uses cookies out of technological neccessity (not for ads, tracking etc.). By using the services of this website, you consent to this. Read more in the <a href="{{url_for('privacy', sd=subdomain)}}">{{_('Datenschutzerklärung')}}</a>.
                
                {% endif %}

                </p>
                <button onclick="cookiesAccept()" type="button">{{_('Zustimmen')}}</button>
            </div>

        {% endif %}
        
    </div>

{% endblock %}