{% extends 'regular.jinja' %}

{% block main %}

    <div class="sheetmusiccontainer">
        <table class="sheetmusictable">
            <thead>
                <tr>
                    <th data-column="composer">{{_('Komponist')}}</th>
                    <th data-column="epoch">{{_('Epoche')}}</th>
                    <th data-column="title">{{_('Titel')}}</th>
                    <th data-column="sheetmusic">{{_('Noten')}}</th>
                    <th data-column="video">{{_('Video')}}</th>
                    <th data-column="duration">{{_('Dauer')}}</th>
                    <th data-column="difficulty">{{_('Schwierigkeit')}}</th>
                </tr>
            </thead>
            <tbody>
                {% for piece in entries%}
                    <tr>
                        <td data-column="composer">{{ piece["composer"] + " (" + piece["composer_lifetime"] + ")" }}</td>
                        <td data-column="epoch">{{ piece["epoch"] }}</td>
                        <td data-column="title">{{ piece["title"] }}</td>
                        <td data-column="sheetmusic">
                            {% if piece["sheetmusic"] %}
                                <a href="/download/?id={{ piece['id'] }}">[Download]</a>
                            {% endif %}
                        </td>
                        <td data-column="video">
                            {% if piece["video"]%}
                                <a href="{{ piece['video'] }}">[Link]</a>
                            {% endif %}
                        </td>
                        <td data-column="duration">{{ piece["duration"] }}</td>
                        <td data-column="difficulty">{{ piece["difficulty"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}