{% extends 'regular.jinja' %}

{% block main %}

    {% if language == 'de' %}
        
        <p>
            Da es sich bei dieser Website um eine rein private Website handelt, die weder geschäftsmäßige Online-Dienste (§5 TMG) noch (regelmäßig) journalistisch-redaktionell gestaltete Inhalte (§55 RstV) anbietet, besteht keine Impressumspflicht.
        </p>
        <p>
            Aus Sicherheitsgründen möchte ich von dieser Befreiung gebrauch machen und verweise auf das
            <a href="{{url_for('contact', sd=subdomain)}}">Kontaktformular</a>
        </p>

    {% else %}

        <p>
            Since this is a non-commercial website, offering neither commerial online serivces (§5 TMG) nor (regular) journalistic-editorial contents (§55 RstV), it does not require a site notice according to German laws.
        </p>
        <p>
            To contact me quickly and easily, you can use the
            <a href="{{url_for('contact', sd=subdomain)}}">contact form</a>
        </p>

    {% endif %}

{% endblock %}